<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <h1>The Second Home Page</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi reprehenderit aut error atque ullam adipisci,
        consequuntur expedita laboriosam rem consectetur. Quo eius eum blanditiis dignissimos provident officiis facere
        harum temporibus.
        Iste quibusdam expedita accusantium earum quis! Velit cum quas, repellat voluptate voluptatibus molestiae magnam
        ullam expedita alias vitae ab perferendis mollitia, nihil sit, eius ad saepe dicta hic natus. Necessitatibus.
    </p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quidem necessitatibus aut reiciendis, suscipit dolore
        dicta vitae odio sequi consequuntur totam dolorum incidunt hic animi ipsum aliquid quaerat obcaecati
        voluptatibus quisquam.</p>
</body>

</html>